:root{
    --cor-00:#ffffff;
    --cor-01:#2B2B2B;
    --cor-02:#1F1F1F;
    --cor-03:#000000;
    --cor-p1:#FE6A0F;
}

.cor-00{
    color: var(--cor-00);
}
.cor-01{
    color: var(--cor-01);
}
.cor-02{
    color: var(--cor-02);
}
.cor-03{
    color: var(--cor-03);
}
.cor-p1{
    color: var(--cor-p1);
}